@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Navbtn::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #1480cc;
  transition: all .5s ease;
}

.Navbtn:hover::after {
  width: 100%;
}

.Navbtn {
  transition: all .5s ease;
}

.Navbtn:hover {
  color: #1480cc;
}

.takeAsnapBtn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: .75em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.takeAsnapBtn span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: .6s ease;
}

.takeAsnapBtn span:nth-child(6) {
  position: relative;
}

.takeAsnapBtn span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.takeAsnapBtn span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.takeAsnapBtn span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.takeAsnapBtn span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.takeAsnapBtn span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.takeAsnapBtn:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

.Navbtn svg {
  width: 1.6em;
  transition: all .5s ease;
}

.Navbtn:hover svg {
  transform: translateX(5px);
}

.instructionCard {
  transition: all .5s ease;
  left: -100%;
}

.instructionCardVisible {
 left: 0;
}

.skiptranslate {
  display: none !important;
}

.chatbutton {
  font-family: inherit;
  font-size: 18px;
  background: royalblue;
  color: white;
  padding: .3em .8em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.chatbutton span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.chatbutton svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.chatbutton:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.chatbutton:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.chatbutton:hover span {
  transform: translateX(5em);
}

.chatbutton:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.chatToggle {
  margin: 0;
  display: none;
}

@media (max-width : 880px) {
  .takeAsnapBtn {
    padding: .5em 1.5em;
  }
}

@media (max-width : 430px) {
  .instructionCard{
    width: 98%;
    margin-left: 1%;
  }
}